# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# Assignment 1: Creating and Accessing Tuples
# Create a tuple with the first 10 positive integers. Print the tuple.
t1= tuple(range(1,10+1))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# Assignment 2: Accessing Tuple Elements
# Print the first, middle, and last elements of the tuple created in Assignment 1.
print(t1[0])
print(t1[5])
print(t1[9])

1
6
10

In [3]:
# Assignment 3: Tuple Slicing
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(t1[0:3])
print(t1[7:10])
print(t1[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [4]:
# Assignment 4: Nested Tuples
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
t2 = ((1, 2, 3),(4, 5, 6),(7, 8, 9))
for i in t2:
  print(i)

print(t2[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [5]:
# Assignment 5: Tuple Concatenation
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
a = (1, 2, 3)
b = (4, 5, 6)
result = (a + b)
print(result)

(1, 2, 3, 4, 5, 6)

In [17]:
# Assignment 6: Tuple Methods
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
t3 = (1, 2, 3, 3, 4, 5 )
print(t3.count(3))
print(t3.index(3))

2
2

In [10]:
# Assignment 7: Unpacking Tuples
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
my_tuple = (1, 2, 4, 5, 6)
a, b, c, d, e = my_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
4
5
6

In [12]:
# Assignment 8: Tuple Conversion
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
l1 = list(range(1,6))
t4 = tuple(l1)
print(t4)

(1, 2, 3, 4, 5)

In [15]:
# Assignment 9: Tuple of Tuples
# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
t2 = ((1, 2, 3),(4, 5, 6),(7, 8, 9))
print(t2)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [19]:
# Assignment 10: Tuple and List
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
t5 = (1, 2, 3, 4, 5)
l2 = list(t5)
l2.append(6)
my_tuple1 = tuple(l2)
print(my_tuple1)

(1, 2, 3, 4, 5, 6)

In [20]:
# Assignment 11: Tuple and String
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
fruit = ('a', "p", "p", "l", "e")
my_fruit = " "
for char in fruit:
  my_fruit+=char

print(my_fruit)

 apple

In [21]:
# Assignment 12: Tuple and Dictionary
# Create a dictionary with tuple keys and integer values. Print the dictionary.
my_dict = {(1, 2):12, (3, 4):34}
print(my_dict)

{(1, 2): 12, (3, 4): 34}

In [24]:
# Assignment 13: Nested Tuple Iteration
# Create a nested tuple and iterate over the elements, printing each element.
t2 = ((1, 2, 3),(4, 5, 6),(7, 8, 9))
for i in t2:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [25]:
# Assignment 14: Tuple and Set
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
dupli_tuple = (1, 3, 3, 4, 2, 2)
my_set = set(dupli_tuple)
print(my_set)

{1, 2, 3, 4}

In [35]:
# Assignment 15: Tuple Functions
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def get_min(n):
  return min(n)
def get_max(n):
  return max(n)
def get_sum(n):
  return sum(n)
tuple_1 = (2, 9, 5, 3, 8, 5)
print(get_min(tuple_1))
print(get_max(tuple_1))
print(get_sum(tuple_1))

2
9
32