# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
# Assignment 1: Creating and Accessing Sets
# Create a set with the first 10 positive integers. Print the set.
s1 = set(range(1,11))
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
# Assignment 2: Adding and Removing Elements
# Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.
s1.add(11)

s1.remove(1)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [8]:
# Assignment 3: Set Operations
# Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets
a = {1, 2, 3, 4 , 5 }
b = {2, 4, 6, 8, 10}
print(f"union of a ,b is {a | b}")
print(f"intersection of a,b is{a & b}")
print(f"difference between a and b is {a - b}")
print(f"symmetric difference between a and b is{a ^ b}")

union of a ,b is {1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [9]:
# Assignment 4: Set Comprehensions
# Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.
square = {num**2 for num in range(1,11)}
print(square)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [10]:
# Assignment 5: Filtering Sets
# Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.
even_num = {x**2 for x in range(1,11) if x%2==0}
print(even_num)

{64, 100, 4, 36, 16}

In [11]:
# Assignment 6: Set Methods
# Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
set_1 = {1, 3, 3, 4, 5, 6, 3}
result = set(set_1)
print(result)

{1, 3, 4, 5, 6}

In [14]:
# # Assignment 7: Subsets and Supersets
# # Create two sets: one with the first 5 positive integers and another with the first 3 positive integers.
#  Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.
a = {1, 2, 3 , 4, 5}
b = {1, 2, 3}
print(b.issubset(a))
print(a.issuperset(b))

True
True

In [15]:
# Assignment 8: Frozenset
# Create a frozenset with the first 5 positive integers. Print the frozenset.
f1 = {1, 2, 3, 4, 5}
froze_set = frozenset(f1)
print(froze_set)

frozenset({1, 2, 3, 4, 5})

In [16]:
# Assignment 9: Set and List Conversion
# Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.
set_2 = {1, 2, 3 ,4, 5}
lis = list(set_2)
lis.append(6)
my_set = set(lis)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [18]:
# Assignment 10: Set and Dictionary
# Create a dictionary with set keys and integer values. Print the dictionary.
my_dict = {(1, 2):12, (3, 4):34, (5, 6):56}
print(my_dict)

dict

In [19]:
# Assignment 11: Iterating Over Sets
# Create a set and iterate over the elements, printing each element.
my_set = {1, 2, 4, 5, 6, 7}
for i in my_set:
  print(i)

1
2
4
5
6
7

In [24]:
# Assignment 12: Removing Elements from Sets
# Create a set and remove elements from it until it is empty. Print the set after each removal.
my_set = {1, 2, 3, 4, 5}

while my_set:
    removed_element = my_set.pop()
    print(f"Removed: {removed_element}, Remaining set: {my_set}")

Removed: 1, Remaining set: {2, 3, 4, 5}
Removed: 2, Remaining set: {3, 4, 5}
Removed: 3, Remaining set: {4, 5}
Removed: 4, Remaining set: {5}
Removed: 5, Remaining set: set()

In [25]:
# Assignment 13: Set Symmetric Difference Update
# Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.
a = {1, 2, 3, 4 , 5 }
b = {2, 4, 6, 8, 10}
a = a ^ b
print(a)

{1, 3, 5, 6, 8, 10}

In [32]:
# Assignment 14: Set Membership Testing
# Create a set and test if certain elements are present in the set. Print the results.
s2 = {1, 2, 4, 5, 6}
test = {1,3, 4 ,5, 7}
for i in test:
  if i in s2:
    print(f"the element {i} is present:")
  else:
    print("not present")

the element 1 is present:
not present
the element 4 is present:
the element 5 is present:
not present

In [26]:
# Assignment 15: Set of Tuples
# Create a set containing tuples, where each tuple contains two elements. Print the set.
set_4 = {(1,2),(3,4),(4,5)}
print(set_4)

{(4, 5), (1, 2), (3, 4)}