# Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
print("Hello,World")

Hello,World

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
num_1 = int(input("Enter the number:"))
print(num_1)

Enter the number:2
2

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
# Your code here
num = int(input("Enter the number:"))
if num>0:
  print("positive")
elif num<0:
  print("negative")
else:
  print("zero")

Enter the number:-2
negative

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
# Your code here
num1 = int(input("enter the number:"))
num2 = int(input("enter the number:"))
num3 = int(input("enter the number:"))
if num1>num2 and num1>num3:
  print("num1 is greater")
elif num2>num1 and num2>num3:
  print("num2 is greater")
elif num3>num1 and num2>num3:
  print("num3 is greater")

enter the number:3
enter the number:4
enter the number:2
num2 is greater

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
# Your code here
num = int(input("enter the num:"))
fact = 1
for i in range(1,num+1):
  fact = fact*i
print(fact)

enter the num:6
720

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
# Your code here
int_1 = 5
float_1 = 0.3
string_1 = "hello"
bool_1 = True
print(int_1,type(int_1))
print(float_1,type(float_1))
print(string_1,type(string_1))
print(bool_1,type(bool_1))

5 <class 'int'>
0.3 <class 'float'>
hello <class 'str'>
True <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
# Your code here
a = 10
b = 20
a,b = b,a
print(a,b)

20 10

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
celsius = float(input("enter the number:"))
fahrenheit = (celsius*9/5)+32
print(fahrenheit)

enter the number:0.30
32.54

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
# Your code here
str_1 = "Hello"
str_2 = "world"
print(str_1+str_2)

Helloworld

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
# Your code here
num = 10
print(isinstance(num,int))

True

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
# Your code here
a = 10
b = 30
print(a+b)
print(a-b)
print(a*b)
print(a/b)

40
-20
300
0.3333333333333333

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
# Your code here
a = 10
b = 20
print(a==b)
print(a!=b)
print(a<b)
print(a>b)

False
True
True
False

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
# Your code here
a = 10
b = 20
print(a>b and b>a)
print(a>b or b>a)
print(not(a>b))

False
True
True

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
# Your code here
num = 2
print(num**2)

4

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
# Your code here
num = 10
if num%2 == 0:
  print("even")
elif num%2 != 0:
  print("odd")

even

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
# Your code here
num = 10
sum = 0
for i in range(1,num+1):
  sum+= i
print(sum)

55

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
# Your code here
year = 2023
if year%4 == 0:
  print("leap year")
else:
  print("not a leap year")

not a leap year

**Question 18:** Write a Python program to reverse a string.

In [ ]:
# Your code here
str_1 = "hello world"
print(str_1[::-1])

dlrow olleh

**Question 19:** Write a Python program to check if a string is a palindrome.

In [ ]:
# Your code here
str_1 = "madam"
print(str_1 == (str_1[::-1]))

True

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [1]:
my_list = [1,3, 2, 4,9, 5, 6]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 9]